.post_index_section {
  display: flex;
  flex-direction: column;
}

.comments_list {
  list-style: none;
}

.comments_list li {
  display: flex;
  align-items: center;
}

.pagination {
  width: fit-content;
  align-self: center;
}

.posts_div {
  overflow-y: scroll;
  max-height: 75vh;
}

.posts_div::-webkit-scrollbar {
  display: none;
}

.right_side {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
